*{
  margin:0;
  padding:0;
  text-decoration:none
}
.head{
width: 100%;
background:black;
display:flex;
justify-content: space-between;
padding:10px;
}
.content-logo img{
width: 50px;
heigth: 50px;
border-radius:50%;
margin-right:15px;

}
.content-logo{
display:flex;
}
.content-menu{
display:grid;
align-self:center;
}
h2, a{
font-family:san-serif, cursive;
color: #fff;
}
nav a{
margin-right:20px;
}


@media screen and (max-width: 600px) {
.head{
flex-direction:column;
}
.content-logo{
display:flex;
justify-content:center;
margin-bottom:20px;
}

}
