@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Heebo', sans-serif;
    color:#fff;
}

body{
    background-color: rgba(133, 98, 165, 0.75);
    min-height: 100vh;   
}
.form{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    width: 300px;
    height: auto;
    border-radius: .5rem;
    padding:3rem 4rem;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1.5px solid rgba(209, 213, 219, 0.3);  
}
.line{
    width: 70px;
    height: 4px;
    background: #fff;
    border:none;
    border-radius: 5px;
    margin-bottom:25px;
}

.inputs{
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.inputs input{
    width:100%;
    height: 20px;
    border-radius: 1.2rem;
    padding: 10px 5px;
    font-size: 16px;
    margin:13px 0px 13px 0px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(30px);
    background-color: rgba(191, 191, 191, 0.6); 
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    outline:none;
}
.login-form button{
    width: 90px;
    height:45px;
    border: none;
    border-radius: 25px;
    color:#000;
    font-size: 15px;

}

::placeholder{
    color:#fff;
}

.reset-password, .create-accout{
    display:flex;
    flex-direction: row;
    gap:10px;
    font-size: 14px;
    margin:10px;
}


/*KEYFREMS*/

.square-animation-1, .square-animation-2, .square-animation-3, .square-animation-4{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(133, 98, 165, 0.7); 
    border: 1.5px solid rgba(209, 213, 219, 0.3);
}
.square-animation-1{
    position: absolute;
    right:10rem;
    top:5rem;
    animation: floating 3s infinite;

}
.square-animation-2{
    position: absolute;
    left:20rem;
    top:30rem;
    animation: floating-1 4s infinite;
}

.square-animation-3{
    position: absolute;
    right:22rem;
    top:25rem;
    animation: floating-1 6s infinite;

}
.square-animation-4{
    position: absolute;
    left:28rem;
    top:10rem;
    animation: floating 2s infinite;

}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 40px); }
    100%   { transform: translate(0, -0px); }   
}
@keyframes floating-1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 40px); }
    100%   { transform: translate(0, -0px); }   
}

