@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans', sans-serif;
}
body{
	width: 100vw;
    	height: 100vh;
    	background-image: url('../assets-images/background-black.jpg');
    	background-repeat: no-repeat;
    	background-size: cover;
    	background-attachment: fixed;
    	display: grid;
    	place-items:center;
}
.content{
	width:400px;
	height:500px;
	position:relative;
	background-color:#fff;
	border-radius: 20px;
}
.content > div{
	display:flex;
	flex-direction:column;
	align-items:center;
	*/border: solid 1px red;*/
}
.image-top img{
	width:100%;
	height:120px;
	border-radius: 20px 20px 0px 0px;
	object-fit:cover;
}
.image-profile{
	height:120px;	
}
.circle{
	width:120px;
	height:120px;
	position:absolute;
	top:15%;
	border-radius:50%;
	background-color:aliceblue;
	border: solid 5px #242323;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.circle img{
	width:100%;
	height:100%;
	position:relative;
}
.card-text{
	height:150px;
}
.card-text nav{
	display:flex;
	gap:10px;
}
.text-2{
	color:rgb(46, 104, 151);
}
.card-text p{
	position:relative;
	top:40%;
}
.text-power span{
	display:flex;
	gap: 40px;

}
.text-icon span{
	display:flex;
	gap: 80px;
	font-size:35px;
	margin-top:10px;
}
span h2{
	font-size: 14px;
}
hr{
    background-color:rgb(46, 104, 151);
    position:relative;
    width:100%;
    height:2px;
    border:none;
    top:40%;
}

@media screen and (max-width: 600px) {
.content{
	width:350px;
	height:500px;
}




